/* common style  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 22px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.banner-container {
    background-image: url('images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.banner-container-item{
    max-width: 40%;
    text-align: right;
    margin-right: 250px;
   

   
  
}

.banner-title>h1 {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description>p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin:0px 0px 30px 70px;

}
.btn-primary{
    cursor: pointer;
    
}