/* common style  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 22px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.banner-container{
    background-image: url('images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
